<section class="container__cep">
  <form class="form" (ngSubmit)="returnAddress()">
    <h1 class="title__cep">Busca CEP</h1>
    <div class="container-input__cep">
      <label for="iCep" class="label-cep">Digite um n° de CEP:</label>
      <input type="text" maxlength="8" class="input-cep" id="iCep" [(ngModel)]="inputCep">
      <p class="erro">Digite 8 números</p>
    </div>
    <button class="btn-cep" type="submit">Buscar</button>
    <div class="container__table" id="container__table">
      <table class="table__cep">
        <thead class="table-thead">
          <tr class="thead-line">
            <td class="theade-title line-log">Logradouro</td>
            <td class="theade-title line-nei">Bairro</td>
            <td class="theade-title line-loc">Localidade/UF</td>
            <td class="theade-title line-cep">CEP</td>
          </tr>
        </thead>
        <tbody class="table-tbody" id="table-tbody">
          <tr class="tbody-line" id="tbody-line">
            <td class="tbody-info line-log">Felipe</td>
            <td class="tbody-info line-nei">Lima</td>
            <td class="tbody-info line-loc">21</td>
            <td class="tbody-info line-cep">RJ</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</section>
