@media screen and (max-width: 1080px) {
  .container__cep {
    margin: 58px 70px 96px 70px;
  }
}

@media screen and (max-width: 610px) {
  .input-cep {
    width: calc(100% - 56px);
  }
}

@media screen and (max-width: 450px) {
  .container__cep {
    margin: 58px 20px 96px 20px;
  }
  .title__cep {
    font-size: 22px;
  }

  .label-cep {
    font-size: 16px;
  }
}
