<section class="container__ras">
  <h1 class="title__ras">Rastreamento</h1>

  <div class="container-input__ras">
    <label for="iRas" class="label-ras">Digite o código de rastreamento :</label>
    <input type="text" class="input-ras" id="iRas" name="ras" ngModel #inputRas="ngModel">
    <p class="erro" id="erro"></p>
  </div>

  <button class="btn-ras" (click)="getEncomenda(inputRas.value)">Localizar</button>

  <div class="container__content-ras" id="ras__content" >
    <div class="content-ras" *ngFor="let item of list">
      <p id="staus">{{ item.status }}</p>
      <p id="origin">{{ item.local }}</p>
      <p id="destiny" *ngIf="item.subStatus">{{ item.subStatus[1] }}</p>
      <p id="date">{{ item.data }} {{ item.hora}}</p>
    </div>
  </div>
</section>
