<section class="container__ras">
  <h1 class="title__ras">Rastreamento</h1>

  <div class="container-input__ras">
    <label for="iRas" class="label-ras">Digite o código de rastreamento :</label>
    <input type="text" maxlength="14"class="input-ras" id="iRas" name="ras" ngModel #inputRas="ngModel">
    <p class="erro" id="erro"></p>
  </div>

  <button class="btn-ras" (click)="getEncomenda(inputRas.value)">Localizar</button>

  <ul class="container__content-ras">
    <p>{{ text }}</p>
    <li class="content-ras" *ngFor="let item of list">
      <div class="ras__status">
        <div class="ras-icon"></div>
      </div>
      <div class="ras__info">
        <p class="status">{{ item.status }}</p>
        <p class="origin" *ngIf="item.subStatus.length > 0; else elseBlock">{{ item.subStatus[0] }}</p>
        <ng-template #elseBlock>
          <p class="origin">{{ item.local }}</p>
        </ng-template>
        <p class="destiny" *ngIf="item.subStatus">{{ item.subStatus[1] }}</p>
        <p class="date">{{ item.data }} {{ item.hora}}</p>
      </div>
    </li>
  </ul>
</section>
